In [1]:
import pandas as pd

In [2]:
train_text = pd.read_csv("../../data/v2/train_normalized.txt", sep="\t", header=None)
train_text.columns = ["text"]
train_label = pd.read_csv("../../data/v2/train_label.csv", sep="\t", header=None)
train_label.columns = ["label"]

val_text = pd.read_csv("../../data/v2/validation_normalized.txt", sep="\t", header=None)
val_text.columns = ["text"]
val_label = pd.read_csv("../../data/v2/val_label.csv", sep="\t", header=None)
val_label.columns = ["label"]

In [3]:
train_text

                                                    text
0                          ぼけっとしてたらこんな時間 チャリあるから食べにでたいのに
1      今日の月も白くて明るい 昨日より雲が少なくてキレイな と立ち止まる帰り道 チャリなし生活も悪くない
2                      早寝するつもりが飲み物がなくなりコンビニへ ん 今日 風が涼しいな
3                                                眠い 眠れない
4           ただいま って新体操してるやん 外食する気満々で家に何もないのに テレビから離れられない
...                                                  ...
39995                ジョージア移住系ブロガーになるって言っても 月間ボリューム0~0かいな
39996                             イギリスは0ヶ月未満 ビザなし滞在ok 凄い
39997                       カナダは 0ヶ月以内の観光の場合 ビザなし滞在ok 凄い
39998            なぜ有料noteが重宝されているのかを解説したいが 需要がないので止めておこう
39999   ブログの良い所 興味ない所は読み飛ばせる たぶんyoutubeもそういう機能が搭載されていくはず

[40000 rows x 1 columns]

In [4]:
train_label

      label
0         n
1         p
2         p
3         n
4         p
...     ...
39995     n
39996     p
39997     p
39998     n
39999     p

[40000 rows x 1 columns]

In [5]:
val_text

                                                   text
0     福岡に移住して 特に不満はない けれど 慣れて来たので 他の街にも行ってみたくなってきている...
1                                        うまくいった時の慢心には注意
2     お金持ちではなかったので 自分でカードゲームを作りだしたりして遊んでいた その時の楽しい経験...
3                     飲み屋でしか聞けなかったような話って実はyoutubeで需要がある
4     0まずやってみる 0疑問が出てきてから その疑問解決のための教材を買う 教材が高い場合は 先...
...                                                 ...
3195  真夜中にふと思い立ち ノートpcを持って部屋を出て ダイニングで仕事したらすんごい捗った 環...
3196     ぐっどこんでぃしょん 心も頭もクリア 秋分の日のおかげかな 人と自然としっとり過ごしたい気分
3197  朝から免許の更新へ 0分で終わり 出口へ向かうと献血の呼びかけが みんな通り過ぎていく 献血...
3198  夜も更けて参りましたが 食後のコーヒーが飲みたいのでドリップ開始 ぼんやり秋の夜長を楽しみた...
3199    コーヒー休憩 kahavitauko いつもの豆なのにすごく美味しくできた レシピは記録したv

[3200 rows x 1 columns]

In [6]:
val_label

     label
0        p
1        n
2        p
3        p
4        p
...    ...
3195     p
3196     p
3197     p
3198     p
3199     p

[3200 rows x 1 columns]

In [7]:
train_df = pd.concat([train_text, train_label], axis=1)
val_df = pd.concat([val_text, val_label], axis=1)

In [8]:
train_df

                                                    text label
0                          ぼけっとしてたらこんな時間 チャリあるから食べにでたいのに     n
1      今日の月も白くて明るい 昨日より雲が少なくてキレイな と立ち止まる帰り道 チャリなし生活も悪くない     p
2                      早寝するつもりが飲み物がなくなりコンビニへ ん 今日 風が涼しいな     p
3                                                眠い 眠れない     n
4           ただいま って新体操してるやん 外食する気満々で家に何もないのに テレビから離れられない     p
...                                                  ...   ...
39995                ジョージア移住系ブロガーになるって言っても 月間ボリューム0~0かいな     n
39996                             イギリスは0ヶ月未満 ビザなし滞在ok 凄い     p
39997                       カナダは 0ヶ月以内の観光の場合 ビザなし滞在ok 凄い     p
39998            なぜ有料noteが重宝されているのかを解説したいが 需要がないので止めておこう     n
39999   ブログの良い所 興味ない所は読み飛ばせる たぶんyoutubeもそういう機能が搭載されていくはず     p

[40000 rows x 2 columns]

In [9]:
val_df

                                                   text label
0     福岡に移住して 特に不満はない けれど 慣れて来たので 他の街にも行ってみたくなってきている...     p
1                                        うまくいった時の慢心には注意     n
2     お金持ちではなかったので 自分でカードゲームを作りだしたりして遊んでいた その時の楽しい経験...     p
3                     飲み屋でしか聞けなかったような話って実はyoutubeで需要がある     p
4     0まずやってみる 0疑問が出てきてから その疑問解決のための教材を買う 教材が高い場合は 先...     p
...                                                 ...   ...
3195  真夜中にふと思い立ち ノートpcを持って部屋を出て ダイニングで仕事したらすんごい捗った 環...     p
3196     ぐっどこんでぃしょん 心も頭もクリア 秋分の日のおかげかな 人と自然としっとり過ごしたい気分     p
3197  朝から免許の更新へ 0分で終わり 出口へ向かうと献血の呼びかけが みんな通り過ぎていく 献血...     p
3198  夜も更けて参りましたが 食後のコーヒーが飲みたいのでドリップ開始 ぼんやり秋の夜長を楽しみた...     p
3199    コーヒー休憩 kahavitauko いつもの豆なのにすごく美味しくできた レシピは記録したv     p

[3200 rows x 2 columns]

In [10]:
train_df.to_csv("../../data/v2/train.tsv", sep="\t", index=False)
val_df.to_csv("../../data/v2/val.tsv", sep="\t", index=False)